<section class="padded">

    <div class="capped-width grid-center">

        {% if page.intro-header == true %}

        <div class="col-12 padded-05 center margin-b-1">

            <h2> {{ page.title }}</h2>
            {{ page.description_html }}

        </div>

        {% endif %}

        {% for post in site.categories[page.category] limit:12 %}

                {% if page.post-style == "normal" %}

                    {% include post-loop-item-square.html %}

                {% else %}

                    {% include post-loop-item-small.html %}

                {% endif %}

        {% endfor %}

    </div>

</section>